.hero-image{
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("dinner.jpg");
  height: 50vh;
  background-position: center;
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.search-button{
  border-radius: 2px;
  background-color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  color: grey;
  margin-left: 5px;
}

.card-container-search {
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 20px;
  width: 600px;
}

.adress-link{
  color: black;
}
