
/*.content {
  display: flex;
}*/

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


#map {
  margin-top: 15px;
  margin-bottom:1 5px;
  height: 100vh;
  position: sticky;
  top: 0;
  }

