<!DOCTYPE html>
<html>
<head>
  <title>Edit Booking</title>
</head>
<body>

<h1>Make Changes to your booking for <%= @booking.meal.name %></h1>

<%= render 'app/views/bookings/edit_form' %>

</body>
</html>
