<div class = 'container'>
  <%= simple_form_for [@meal, @booking] do |f| %>
    <%= f.input :date, as: :date, html5: true%>
    <%= f.input :eaters, collection: ((@meal.min_eaters)..(@meal.max_eaters)).to_a %>
    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>

