home.html.erb

<h1>HomePage</h1>

<%= form_tag search_path, method: :get do %>
<%= text_field_tag :search, params[:search], placeholder: "What do you want to eat?", class: "form-control" %>
<%= text_field_tag :date, params[:date], placeholder: "Date", class: "form-control" %>


@meals.each do |meal|
  <div class="meals-card">
    <div class="meals-card-name">m.name</di>
    m.description
    m.price
  </div>
end


<p>© <%= Date.today.year %> Homet.</p>
