<% @meals.each do |meal| %>
  <div class="meals-card">
    <div><%= link_to meal.name, eaters_for_meal_path(meal) %></div>
    <div><%= meal.description %></div>
    <div><%= meal.price %></div>
    <hr>
  </div>
<% end %>

<%= link_to 'Create New Meal', new_meal_path, class: "btn btn-outline-dark m-1"%>

