.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}

.card-container-bookings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  margin: 8px;
}

.card-booking {
  display: flex;
  flex-direction: row;
  justify-content: between;
  align-items: start;
  width: 600px;
  margin: 5px;
  background-color: light-gray;
  padding: 3px
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: between;
  align-items: start;
  width: 800px;
  margin: 5px;
  background-color: light-gray;
  padding: 3px
}

.card-image{
  border-radius: 12px;
  width: 280px;
  height: 180px;
  padding: 6px;
}


.card-text{
  margin-left: 15px;
  margin-top: 5px;
  align-items: start;

}

.white-card{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: thin;
}

.non-colored-card{
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-top: thin solid #d3d3d3;
}

.booking-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin-left: 48px;
  margin-right: 48px;
}

