.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}

.card-container-bookings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  margin: 8px;
}

.meal-card.booking-card {
  width: 500px;
}

.meal-card {
  display: flex;
  align-items: start;
  width: 800px;
  margin: 5px;
  border-style: none;
  color: black;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.meal-card:hover {
  text-decoration: none;
  color: black;
}

.img-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 280px;
}

.card-image {
  object-fit: cover;
  height: inherit;
  width: inherit;
}

.card-text{
  margin-left: 295px;
  margin-top: 5px;
  align-items: start;
}

.white-card{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: thin;
}

.non-colored-card{
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-top: thin solid #d3d3d3;
}

.booking-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin-left: 48px;
  margin-right: 48px;
}

