.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: between;
  align-items: start;
  width: 800px;
  margin: 5px;
  background-color: light-gray;
  padding: 3px
}

.card-image{
  border-radius: 12px;
  width: 280px;
  height: 180px;
  padding: 6px;



}


.card-text{
  margin-left: 15px;
  margin-top: 5px;
  align-items: start;

}

// .img-homepage{
// padding: 50px;
// margin-bottom: 15px;
// }
