<div class = 'container'>
  <%= simple_form_for [@meal, @review] do |f| %>
  <%= f.input :rating, required: true %>
  <%= f.input :comment, required: true %>
  <%= f.submit class: 'btn btn-primary'%>
</div>
