<!DOCTYPE html>
<html>
<head>
  <title>Edit Form</title>
</head>
<body>

  <%= simple_form_for @booking do |f| %>
        <%= f.input :date, required: true %>
        <%= f.input :eaters, required: true %>
        <%= f.button :submit %>
  <%end%>

</body>
</html>
